* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
#root *[aria-invalid='true'] {
  border: 1px solid red;
}

#root input:focus-visible,
#root select:focus-visible {
  outline: none;
}
